/* This config is a modified version of DT's config. You can find it here: https://gitlab.com/dwt1/dotfiles/-/blob/master/.config/waybar/style.css?ref_type=heads */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: bold;

}

window#waybar {
    background-color: #1c1f24;
    color: #51afef;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    color: #c678dd;
    background-color: transparent;
}

#workspaces button {
    all: initial;
    /* Remove GTK theme values (waybar #1351) */
    min-width: 0;
    /* Fix weird spacing in materia (waybar #450) */
    box-shadow: inset 0 -3px transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    padding: 2px 8px;
    margin: 4px 3px;
    border-radius: 0px;
    color: #c678dd;
}

#workspaces button.active {
    box-shadow: inset 0 -2px #51afef;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #c678dd;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#cpu,
#memory,
#custom-kernel,
#custom-power,
#custom-diskfree,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#language,
#pulseaudio,
#tray {
    border-radius: 4px;
    margin: 4px 3px;
    padding: 2px 2px;
    color: #282c34;
}

#cpu {
    color: #c678dd
}


#memory {
    color: #51afef;
}

#battery {
    /* background-color: #f38ba8; */
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ff6c6b;
    color: #f1fa8c;
}

#battery.charging {
    background-color: #98be65;
    color: #181825;
}

#backlight {
    background-color: #ff6c6b;
}

#wireplumber {
    background-color: #46d9ff;
}

#pulseaudio {
   color: #c678dd
}

#network {
    color: #c678dd;
}

#language {
    color: #46d9ff
}

#clock {
    color: #a9a1e1;
    padding-right: 10px
}

#custom-divider {
    font-family: Ubuntu Mono;
    color: #282c34;
    font-size: 14px;
    /* font-weight: bold; */
}

tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #131822;
}

tooltip label {
    padding: 5px;
    background-color: #131822;
}
